<div class="card" id="achievements">
  <div class="card-content">
    <div class="info">
      <div class="header">
        <div class="title">Achievements</div>
      </div>
    </div>
    <div class="milestones">
      <div class="milestone" *ngFor="let milestone of achievements">
        <div class="info">
          <div class="title">{{milestone.title}}</div>
          <div class="subtitle">{{milestone.subtitle}}</div>
        </div>
        <div class="date">
          {{milestone.date}}
        </div>
      </div>
    </div>
  </div>
</div>
