@import '../../variables';

.content {
  display: flex;

  @media screen and (min-width: $desktop) {
    padding-top: $column-padding;
  }

  @media screen and (min-width: $desktop) {
    .column {
      display: flex;
      justify-content: flex-end;
      flex: 1 1 0%;
      box-sizing: border-box;

      &:first-child {
        margin-left: $column-padding;
      }
    }
  }
}

.main-column {
  flex: 1 1;
  box-sizing: border-box;

  @media screen and (min-width: $desktop) {
    margin: 0 $column-padding;
    flex: 1 1 $desktop;
    max-width: $desktop;

    >.list-item {
      margin: 0 $column-padding; //TODO: fix this hack
    }
  }
}
