<div class="content">
  <div class="column"></div>
  <div class="main-column">
    <div class="card">
      <div class="card-content">
        <div class="info">
          <div class="header">
            <div class="title">Adam Swanson</div>
            <div class="subtitle">Software Developer</div>
          </div>
          <div class="icons">
            <fa-icon [icon]="faTwitter" size="lg"></fa-icon>
            <fa-icon [icon]="faLinkedin" size="lg"></fa-icon>
            <fa-icon [icon]="faGithub" size="lg"></fa-icon>
          </div>
        </div>
        <div class="image">
          <img src="/assets/img/adam.jpg" style="height: 20rem" />
        </div>
      </div>
    </div>
  </div>
  <div class="column"></div>
</div>
