@import 'variables';

.header-card {
  height: fit-content;

  @media screen and (min-width: $desktop) {
    background: rgba(255, 255, 255, 0.1) 0% 0% no-repeat padding-box;
    border-radius: 1.5rem;
  }

  .card-content {
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: $desktop) {
      padding: 5rem;
      border-radius: 1.5rem;
      backdrop-filter: blur(1rem) brightness(60%);
      -webkit-backdrop-filter: blur(3rem);
      flex-direction: row;
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-grow: 1;

      .header {
        text-align: center;

        @media screen and (min-width: $desktop) {
          text-align: left;
        }

        .title {
          font-size: 3rem;

          @media screen and (min-width: $desktop) {
            font-size: 5rem;
          }

          font-weight: bold;
        }

        .subtitle {
          font-weight: 300;
        }
      }

      .icons {
        padding: 2rem 0;
        max-width: 25rem;
        display: flex;
        justify-content: space-between;

        @media screen and (min-width: $desktop) {
          padding-top: 3rem;
        }

        .icon {
          cursor: pointer;

          a {
            color: white;
          }
        }
      }
    }

    .text {
      font: normal normal 300 20px/27px Roboto;
    }

    .image {
      img {
        border-radius: 1.5rem;
        height: 20rem;
      }
    }
  }
}

.card {
  height: fit-content;
  scroll-margin-top: $mobile-nav-height;

  @media screen and (min-width: $desktop) {
    background: rgba(255, 255, 255, 0.1) 0% 0% no-repeat padding-box;
    border-radius: 1.5rem;
    scroll-margin-top: $column-padding;
  }

  .card-content {
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (min-width: $desktop) {
      padding: 5rem;
      border-radius: 1.5rem;
      backdrop-filter: blur(1rem) brightness(60%);
      -webkit-backdrop-filter: blur(3rem);
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-grow: 1;

      .header {
        text-align: left;

        .title {
          font-size: 3rem;
          font-weight: bold;
          padding-bottom: 1rem;
          border-bottom: 1px solid $darkgray;

          @media screen and (min-width: $desktop) {
            font-size: 5rem;
          }
        }
      }
    }

    .text {
      padding-top: 1rem;
      font: normal normal 300 20px/27px Roboto;

      @media screen and (min-width: $desktop) {
        padding-top: 3rem;
      }
    }

    .milestone {
      display: flex;
      flex-direction: column;

      @media screen and (min-width: $desktop-lg) {
        flex-direction: row;
      }

      &:first-child {
        padding-top: 1rem;

        @media screen and (min-width: $desktop-lg) {
          padding-top: 3rem;
        }
      }

      .info {
        .title {
          font-size: 2.5rem;
          font-weight: 700;
        }

        .subtitle {
          padding-top: 1rem;
          font-size: 2rem;
          font-weight: 300;
          font-style: italic;
        }
      }

      .date {
        padding-top: 1rem;
        font-size: 2rem;
        font-weight: 400;

        @media screen and (min-width: $desktop-lg) {
          text-align: right;
        }
      }

      &:not(:last-child) {
        padding-bottom: 3rem;
      }
    }

    .category {
      .title {
        font-size: 3rem;
        font-weight: 400;
      }

      .skills .skill {
        display: flex;
        align-items: center;

        &:first-child {
          padding-top: 1.5rem;
        }

        .image {
          max-width: 4rem;
          max-height: 4rem;
          padding-right: 1.5rem;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .name {
          font-size: 2.25rem;
          font-weight: 300;
        }

        &:not(:last-child) {
          padding-bottom: 1.5rem;
        }
      }
    }
  }
}
