@import 'variables';

.card {
  height: fit-content;

  @media screen and (min-width: $desktop) {
    background: rgba(255, 255, 255, 0.1) 0% 0% no-repeat padding-box;
    border-radius: 1.5rem;
  }

  .card-content {
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: $desktop) {
      padding: 5rem;
      border-radius: 1.5rem;
      backdrop-filter: blur(1rem) brightness(115%);
      -webkit-backdrop-filter: blur(3rem);
      flex-direction: row;
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-grow: 1;

      .header {
        text-align: center;

        @media screen and (min-width: $desktop) {
          text-align: left;
        }

        .title {
          font-size: 3rem;

          @media screen and (min-width: $desktop) {
            font-size: 5rem;
          }

          font-weight: bold;
        }

        .subtitle {
          font-weight: 300;
        }
      }

      .icons {
        padding: 2rem 0;
        max-width: 25rem;
        display: flex;
        justify-content: space-between;

        @media screen and (min-width: $desktop) {
          padding-top: 3rem;
        }

        .icon {
          cursor: pointer;

          a {
            color: white;
          }
        }
      }
    }

    .image {
      img {
        border-radius: 1.5rem;
        height: 20rem;
      }
    }
  }
}
