<div class="card" id="skills">
  <div class="card-content">
    <div class="info">
      <div class="header">
        <div class="title">Skills</div>
      </div>
    </div>
    <div class="skills-list">
      <div class="category" *ngFor="let category of categories">
        <div class="title">{{category}}</div>
        <div class="skills">
          <div class="skill" *ngFor="let skill of getSkills(category)">
            <div class="image" *ngIf="skill.imageName">
              <img [src]="getImagePath(skill, category)" />
            </div>
            <div class="name">{{skill.name}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
