@import './variables.scss';

.desktop-navigation {
  display: none;

  @media screen and (min-width: $desktop) {
    display: block;
    width: fit-content;
    position: sticky;
    top: $column-padding;

    .card-content {
      padding: 1.5rem 3rem;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      font-size: 2rem;

      li {
        padding: 1rem 0;

        a {
          padding: 1rem 0;
          text-decoration: none;
          color: white;
          cursor: pointer;

          &:hover {
            color: #aaaaaa;
          }

          &:active {
            color: #888888;
          }
        }
      }
    }

    .internal-items {
      border-bottom: 1px solid $darkgray;
      padding-bottom: 1rem;
    }

    .external-items {
      padding-top: 1rem;
    }
  }
}
